<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include "testando/partials/_head.html" %}
    </head>

    <body>

        <form method="get" action="">
            {% csrf_token %}
            {{ filter_form.as_p }}
            <button type="submit">Filter</button>
        </form>
        
        <table border= 1>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.name }}</td>
                        <td>{{ pedido.status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No matching records found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
    </body>
    
</html>